apiVersion: v1
kind: Service
metadata:
  name: app
  labels:
    app.kubernetes.io/component: service
spec:
  type: ClusterIP
  ports:
    - port: 9090
      targetPort: 9090
      protocol: TCP
      name: metrics
  selector:
    app: app

